<link rel="stylesheet" href="~/css/Transactions/create-expense.css" asp-append-version="true" />
<script>
    let expenseData = [];
    let product = {};

</script>

<div class="container pk-create-expense-container">
    <div class="row align-items-start">
        <div id="divTempExpenseFormContainer" class="col-5">
            <partial name="_CreateExpenseForm.cshtml" model="new ExpenseProductInfo()">
        </div>
        <div id="divExpenseProductInfoListContainer" class="col-7 pk-cart">
            <partial name="_CreateExpenseCartList.cshtml" model="new Response<List<ExpenseProductInfo>>()">
        </div>
    </div>
</div>



<script src="~/js/Transactions/ExpenseProduct/create-expense-product.js" asp-append-version="true"></script>