@model Response<List<MemberInfo>>

<div class="form-group">
    <label class="form-label">
        Member
        <span class="required">*</span>
    </label>
    <select id="selectMember" name="member" class="form-control form-control-sm">
        @if (Model != null && Model.Data != null && Model.Data.Any())
        {
            @foreach (var member in Model.Data)
            {
                <option value="@member.Id">@member.Name</option>
            }
        }
    </select>
</div>
