@model Response<List<ProductCategoryInfo>>

<div class="form-group">
    <label class="form-label">
        Product Category
        <span class="required">*</span>
    </label>
    <select id="selectProductCategory" name="productCategory" class="form-control form-control-sm">
        @if (Model != null && Model.Data != null && Model.Data.Any())
        {
            @foreach (var productCategory in Model.Data)
            {
                @if (productCategory.Name == "NA")
                {
                    <option value="@productCategory.Id" selected>@productCategory.Name</option>
                }
                else
                {
                    <option value="@productCategory.Id">@productCategory.Name</option>                    
                }
            }
        }
        <option value="NEW">New</option>
    </select>
</div>
