@model OutdoorFoodVendorInfo

@if (Model != null)
{
    <div class="modal fade" data-bs-backdrop="static" id="createOutdoorFoodVendorModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
        <div class="modal-dialog modal-md modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <b class="modal-title" id="createOutdoorFoodVendorTitle">
                        Create OutdoorFoodVendor
                    </b>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <div id="OutdoorFoodVendorCreateFormContainer">
                        <div class="row">
                            <div class="col-sm-12">
                                <form id="formCreateOutdoorFoodVendor" data-id="@Model.Id" data-isupdate="@(Guid.Empty != Model.Id)" autocomplete="off">
                                    <div class="form-group">
                                        <label for="name" class="form-label">Name <span class="mandatory">*</span></label>
                                        <input id="name" name="name" asp-for="@Model.Name" type="text" class="form-control form-control-sm" aria-describedby="outdoorFoodVendorHelp"
                                               maxlength="50"
                                               data-err-required="Name is required"
                                               data-err-min-length="Name is too short">
                                        <div id="outdoorFoodVendorHelp" style="display:none;" class="form-text">Name is case sensitive, ranges between 2 and 50 characters.</div>
                                    </div>
                                    <button type="submit" id="btnOutdoorFoodVendorSaveSubmit" class="display-none" />
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                    <button id="btnSaveOutdoorFoodVendorSubmit" onclick="saveOutdoorFoodVendor()" class="btn btn-primary">Save changes</button>
                </div>
            </div>
        </div>
    </div>

    <script src="~/js/Setup/OutdoorFoodVendor/outdoor-food-vendor-validation.js" asp-append-version="true"></script>
}