@model Response<List<ExpenseInfoSumAmountByDate>>

@{
    ViewData["Title"] = "Grocery - Family Fund";
}

<div class="pk-expense-container">
    <partial name="_CreateExpenseFamilyFund.cshtml" model="new ExpenseFamilyFundInfo()" />
</div>