@model Response<List<ProductCategoryInfo>>

<div class="action-body-container">
    <div class="main-grid-container">
        <div class="table-responsive">
            <table class="table table-bordered  align-middle">
                <thead>
                    <tr>
                        <th scope="col">Product Category Name</th>
                        <th scope="col">Actions</th>
                    </tr>
                </thead>
                <tbody>
                    @if (Model != null && Model.IsSuccess && Model.Data != null && Model.Data.Any())
                    {
                        @foreach (var productCategory in Model.Data)
                        {
                            <tr>
                                <th scope="row">
                                    @if (!string.IsNullOrWhiteSpace(productCategory.Name))
                                    {
                                        <p>@productCategory.Name</p>
                                    }
                                </th>
                                <td class="d-flex justify-content-end">
                                    <span class="material-icons-outlined arrow btn-icon" id="btnEditProductCategory_@productCategory.Id"
                                  title="Update Product Category" onclick="editProductCategory('@productCategory.Id')">
                                        edit
                                    </span>
                                    <span class="material-icons-outlined arrow btn-icon" id="btnDeleteProductCategory_@productCategory.Id"
                                  title="Delete Product Category" onclick="deleteProductCategory('@productCategory.Id', '@productCategory.Name')">
                                        delete
                                    </span>
                                </td>
                            </tr>
                        }
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>