@model Response<List<ProductCategoryInfo>>

@{
    ViewData["Title"] = "ProductCategory";
}

<div class="container">
    <div class="table-wrapper">
        <div class="table-title">
            <div class="row">
                <div class="col-sm-6">
                    <h2>ProductCategory</h2>
                </div>
                <div class="col-sm-6">
                    @*<a href="#addEmployeeModal" class="btn btn-primary-outline" data-toggle="modal"> </a>*@
                    <!-- Button trigger modal -->
                    <button type="button" class="btn btn-primary-outline" onclick="onCreateProductCategory()">
                        <span>Create &nbsp;</span><i class="material-icons">&#xE147;</i>
                    </button>
                </div>
            </div>
        </div>
        @if (Model != null && Model.IsSuccess && Model.Data != null && Model.Data.Any())
        {
            <div id="productCategoryListContainer">
                <partial name="_ProductCategoryList.cshtml" />
            </div>
        }
        else
        {
            <p>
                NO RECORDS FOUND
            </p>
        }
    </div>
    <div>
        <a asp-area="" asp-controller="Home" asp-action="Index" class="btn btn-primary-outline"> <span>&#8592; &nbsp;</span> Go to Home</a>
    </div>
</div>

<div id="createProductCategoryFormContainer">
    <partial name="_CreateProductCategory.cshtml" model="new ProductCategoryInfo()" />
</div>

<script src="~/js/Setup/ProductCategory/product-category.js" asp-append-version="true"></script>
