@model Response<List<ExpenseInfoSumAmountByDate>>

@{
    ViewData["Title"] = "Grocery - Family Wellbeing";
}

<div class="pk-expense-container">
    <partial name="_CreateExpenseFamilyWellbeing.cshtml" model="new ExpenseFamilyWellbeingInfo()" />
</div>