@model Response<List<GroupInfo>>

@{
    ViewData["Title"] = "Group";
}

<div class="container">
    <div class="table-wrapper">
        <div class="table-title">
            <div class="row">
                <div class="col-sm-6">
                    <h2>Group</h2>
                </div>
                <div class="col-sm-6">
                    <button type="button" class="btn btn-primary-outline" onclick="onCreateGroup()">
                        <span>Create &nbsp;</span><i class="material-icons">&#xE147;</i>
                    </button>
                </div>
            </div>
        </div>
        <div id="groupListContainer">
            @if (Model != null && Model.IsSuccess && Model.Data != null && Model.Data.Any())
            {
                <partial name="_GroupList.cshtml" />
            }
            else
            {
                <p>
                    NO RECORDS FOUND
                </p>
            }
        </div>
    </div>
    <div>
        <a asp-area="" asp-controller="Home" asp-action="Index" class="btn btn-primary-outline"> <span>&#8592; &nbsp;</span> Go to Home</a>
    </div>
</div>

<div id="createGroupFormContainer">
    <partial name="_CreateGroup.cshtml" model="new GroupInfo()" />
</div>

<script src="~/js/Setup/Group/group.js" asp-append-version="true"></script>
